@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=League+Spartan:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

body {
  background-color: #3b4664;
  display: grid;
  place-items: center;
}
body.white {
  background-color: #e7e7e7;
  transition: all 0.3s;
}
body.purple {
  background-color: #17062b;
  transition: all 0.3s;
}

.attribution {
  background-color: #252e42;
  width: 100%;
  text-align: center;
  padding: 10px;
  color: #647298;
  font-size: 15px;
}
body.white .attribution {
  color: #373733;
  transition: all 0.3s;
}
body.purple .attribution {
  color: #810fb9;
  transition: all 0.3s;
}
.attribution a {
  color: white;
}
body.white .attribution a {
  color: #c85401;
  transition: all 0.3s;
}
body.purple .attribution a {
  color: #fbe068;
  transition: all 0.3s;
}
body.white .attribution {
  background-color: #d2cecd;
  transition: all 0.3s;
}
body.purple .attribution {
  background-color: #1d0836;
  transition: all 0.3s;
}
.attribution .fa-brands {
  padding: 10px 5px 10px 10px;
  color: #ffffff;
}
body.white .attribution .fa-brands {
  color: #c85401;
  transition: all 0.3s;
}
body.purple .attribution .fa-brands {
  color: #fbe068;
  transition: all 0.3s;
}

.calculadora {
  background-color: #3b4664;
  justify-content: center;
  align-items: center;
  width: 500px;
  gap: 10px;
  padding: 50px;
}
body.white .calculadora {
  background-color: #e7e7e7;
  transition: all 0.3s;
}
body.purple .calculadora {
  background-color: #17062b;
  transition: all 0.3s;
}
.calculadora .theme {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  color: #ebe2db;
}
body.white .calculadora .theme {
  color: #252d44;
  transition: all 0.3s;
}
body.purple .calculadora .theme {
  color: #e9d36a;
  transition: all 0.3s;
}
.calculadora .selectorN {
  text-align: right;
  color: #ebe2db;
  font-size: 15px;
  word-spacing: 15px;
  padding-right: 3px;
}
body.white .calculadora .selectorN {
  color: #252d44;
  transition: all 0.3s;
}
body.purple .calculadora .selectorN {
  color: #e9d36a;
  transition: all 0.3s;
}
.calculadora .themeselector {
  display: grid;
  justify-content: center;
  align-items: center;
}
.calculadora .themeselector :hover {
  cursor: pointer;
}
.calculadora .selector {
  display: flex;
  font-size: 8px;
  align-items: center;
}
.calculadora .selector .selectorbutton {
  height: 23px;
  background-color: #252d44;
  border-radius: 15px;
  width: 70px;
  border: 0;
  display: flex;
  padding: 5px;
  align-items: center;
}
.calculadora .selector .selectorbutton :hover {
  cursor: pointer;
}
body.white .calculadora .selector .selectorbutton {
  background-color: #d2cccb;
  transition: all 0.3s;
}
body.purple .calculadora .selector .selectorbutton {
  background-color: #1d0836;
  transition: all 0.3s;
}
.calculadora .fa-solid {
  color: #d23e30;
}
body.white .calculadora .fa-solid {
  color: #c85500;
  transition: all 0.3s;
}
body.purple .calculadora .fa-solid {
  color: #00dece;
  transition: all 0.3s;
}
.calculadora .botonera {
  background-color: #252d44;
  padding: 30px;
  border-radius: 20px;
}
body.white .calculadora .botonera {
  background-color: #d4cdcd;
  color: #393834;
  transition: all 0.3s;
}
body.purple .calculadora .botonera {
  background-color: #1d0836;
  transition: all 0.3s;
}
.calculadora .btn:hover {
  cursor: pointer;
  transform: scale(1.03);
  transition: all 0.2s;
}
.calculadora .btn2:hover {
  cursor: pointer;
  transform: scale(1.03);
  transition: all 0.2s;
}
.calculadora .btn {
  height: 80px;
  border-radius: 10px;
  background-color: #ebe2db;
  font-size: 40px;
  color: #454955;
  border: 0;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.2823529412);
}
body.purple .calculadora .btn {
  background-color: #311c4c;
  color: #e9d36a;
  transition: all 0.3s;
  box-shadow: inset 0 -5px 0 #7c0bb4;
}
.calculadora .del {
  background-color: #647299;
}
body.white .calculadora .del {
  background-color: #3b8087;
  transition: all 0.3s;
}
body.purple .calculadora .del {
  background-color: #54087f;
  transition: all 0.3s;
  box-shadow: inset 0 -5px 0 #7c0bb4;
}
.calculadora .reset {
  background-color: #647299;
}
body.white .calculadora .reset {
  background-color: #3b8087;
  transition: all 0.3s;
}
body.purple .calculadora .reset {
  background-color: #54087f;
  transition: all 0.3s;
  box-shadow: inset 0 -5px 0 #7c0bb4;
}
.calculadora .igual {
  background-color: #d13f30;
}
body.white .calculadora .igual {
  background-color: #c85402;
  transition: all 0.3s;
}
body.purple .calculadora .igual {
  background-color: #00dece;
  transition: all 0.3s;
}
.calculadora .btn2 {
  height: 80px;
  border-radius: 10px;
  font-size: 25px;
  color: #ebe2db;
  border: 0;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.2823529412);
}
.calculadora .botones {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-bottom: 0;
  justify-content: center;
  gap: 10px;
}
.calculadora .botones2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 10px;
  gap: 10px;
  justify-content: center;
}
.calculadora .pantalla {
  display: flex;
  width: 100%;
  justify-content: right;
  align-items: center;
  background-color: #181f32;
  border-radius: 15px;
  font-size: 70px;
  color: aliceblue;
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 30px;
  height: 130px;
  white-space: nowrap;
  overflow: auto;
}
body.white .calculadora .pantalla {
  background-color: #efefef;
  color: #393834;
  transition: all 0.3s;
}
body.purple .calculadora .pantalla {
  background-color: #1d0836;
  color: #e9d36a;
  transition: all 0.3s;
}

@media screen and (min-width: 768px) {
  .calculadora {
    width: 670px;
  }
  .calculadora .btn {
    height: 55px;
  }
  .calculadora .btn2 {
    height: 55px;
  }
  .calculadora .botonera {
    padding: 20px;
    height: 370px;
  }
  .calculadora .botonera .botones {
    grid-template-columns: repeat(4, 120px);
    grid-template-rows: repeat(4, 50px);
    gap: 15px;
  }
  .calculadora .botonera .botones2 {
    padding-top: 25px;
    gap: 15px;
    grid-template-columns: repeat(2, 255px);
  }
}/*# sourceMappingURL=main.css.map */